nav {
    background-color: #ffffff; 
    padding: 30px 0; /* Add some padding at the top and bottom */
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* shadow to give it a cinema vibe */
    
 /*navbar img { */
   /*     height: 50px; */
    /*    margin-right: 10px; */
     /* } */
  }  
  /* Navbar list */
  ul {
    list-style: none;
    display: flex; /* decided on flex as it keeps them all in line */
    justify-content: right;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  
  li {
    margin-right: 40px;
  }
  
  /* Navbar links */
  a {
    text-decoration: none;
    color: #333; 
    font-weight: bold;
    transition: color 0.3s ease; 
  }
  
  /* Navbar link hover effect */
  a:hover {
    color: #007bff; 
  }
  
  